@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(27, 26, 26);
}

h1{
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 190px;
    align-items: center;
    color: whitesmoke
    ;
    tab-size: 1cm;
    shape-image-threshold: var(black);
    font: size 8px; ;
    font-family: 'Poppins', sans-serif;

}    
img{
  padding-bottom: 10px;
  padding-bottom: 15px;
}
h2{
    padding:  0 20px;
    display: flex;
    color: whitesmoke
    ;
    padding-top: 1vh;
    tab-size: 1cm;
    shape-image-threshold: var(black);
    font: size 10px; ;
}
    
h2{
    color: white;
}
h4{
    color:rgb(198, 246, 246);
    background-color: black;
    background-size: 0cm;
}
.navbar-default{
    margin: 0
    !important;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,6)),(rgba(0,0,0,0,6)),url("C:\Users\Shreyash1\Downloads\Black-Background-Images-Pics-Download.jpg");
    background-size: cover;
    background-position-x: center;
}
nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    color: white;
    font-size: 28px;
    display: flex;
}
span{
    color: #ea1538;
}
nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
nav ul li a:hover{
  transform: scale(1.1);
  transition: 0.3s;
    color:#ea1538;
    transition:.3s;

}
button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;font-weight:bold;
    font-size: 15px;
    transition: 0.4s;
}
button:hover{
     transform: scale(1.3);
     cursor: pointer;
     
}
#hamburger-icon{
  margin: left 100;
  display: none;
  padding-left: 100;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(253, 3, 3);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  text-decoration: none;

  position: left;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
nav{
    display: none;
  }
  #navbar :default
  #logo {
    display: block;
  }
  #hamburger-icon {
    display: block;
  }
}
p{
    color:aliceblue;
    padding-left: 30px;
    padding-right: 40px;
}
div.box{
    text-align: center;
}
img{
   display: block;
   margin: 0 auto;
}
footer{
    color: white;
    padding-left: 30px;

}
.wrapper{
    display: flex;
    
    position: relative;
  }
  
  .wrapper .sidebar{
    display:flexbox;
    justify-content: space-around;
    width: 200px;
    height: 100%;
    background: #980513;
    border-radius: 0 100px 0 0;
    padding: 30px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(27, 26, 26);;font-weight:bold;
    font-size: 20px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: rgb(249, 243, 243);
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #1b1b1e;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    text-decoration: none;
    list-style-type: none;
    color:  rgb(27, 26, 26);
    display: inline-block ;
    
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: rgb(27, 26, 26);
    border-radius: 30px 30px 30px;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #161515;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #2c2826;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  section{
    margin-top: 90px;
    margin-left: 120px;
  }

h3{
    color: #efe1df;
}
  .sub-menu-1{
    display: none;
  }
  .navbar-default ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #980513;
    margin-top : 15px;
    margin-left: -15px;

  }
h1{
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 190px;
    align-items: center;
    color: whitesmoke
    ;
    tab-size: 1cm;
    shape-image-threshold: var(black);
    font: size 10px; ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }